# Répertoires de base
BASE_DIR= ./app
DATA_FOLDER= ./app/data
CSV_SERVEX= ./app/data/donnees_magasin/Servex_nettoye.csv
XLSM_ECOFRAIS = ./app/data/donnees_magasin/Servex_nettoye.csv
JSON_INFO_ETIQUETTES = ./app/data/info_etiquettes.json